<!--Barra de navegacion-->
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" style="font-size: 30px !important;">D-Market.com</a>
    <form class="form-inline" [formGroup]='filtroDeBusqueda' >
        <input class="form-control mr-sm-2" formControlName='tituloABuscar' type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-light my-2 my-sm-0" (click)='filtrarTitulo()'>Buscar</button>
      </form>
      <button class='btn btn-outline-light rounded-circle' data-toggle="modal" data-target="#ModalDeAgregar" style="font-size: 30px; padding-top: 2px !important ;" (click)='this.formularioParaCrear.reset()'>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
    </button>  
</nav>

<!--Lista de productos-->
<div class="list-group">
    <p class="list-group-item list-group-item-action active">
      Tus Articulos
    </p>
    <a data-toggle="modal" data-target="#ModalDeDescripcion" (click)='abrirDescripcion(item.id)' class="list-group-item list-group-item-action" *ngFor="let item of productosEnVenta"  >
        <div class="row">
            <div class="col-sm-4 ">
                <img src={{item.imagenUrl}} class="img-rounded border" alt="imagen" width="300" height="200">
            </div>
            <div class="col-sm-8 " >
                <h3> {{item.titulo}} </h3>
                <h3> {{item.precio}} $ </h3>
                <h5> Descricion: {{item.descripcion}} </h5>
                <h5> {{item.ubicacion}} </h5>
            </div>
        </div>
    </a>
  </div>

<!--modal de agregar articulo-->
  <div class="modal fade" id="ModalDeAgregar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-light">
          <h5 class="modal-title" id="exampleModalLabel">Nuevo articulo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]='formularioParaCrear' >
              <div class="form-row" >
                  <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Titulo" formControlName='titulo' [class.bordeError]='formularioParaCrear.get("titulo").errors && formularioParaCrear.get("titulo").touched' >
                      <div *ngIf="formularioParaCrear.get('titulo').errors && formularioParaCrear.get('titulo').touched" >
                          <small *ngIf='formularioParaCrear.get("titulo").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                  <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="Precio $" formControlName='precio' [class.bordeError]='formularioParaCrear.get("precio").errors && formularioParaCrear.get("precio").touched' >
                      <div *ngIf="formularioParaCrear.get('precio').errors && formularioParaCrear.get('precio').touched" >
                          <small *ngIf='formularioParaCrear.get("precio").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
              </div>
                <div class="form-row mt-2">
                    <h6>Caracteristicas</h6>
                </div>
                <div class="form-row mt-1">
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Peso (kg)" formControlName='peso' [class.bordeError]='formularioParaCrear.get("peso").errors && formularioParaCrear.get("peso").touched'  >
                        <div *ngIf="formularioParaCrear.get('peso').errors && formularioParaCrear.get('peso').touched" >
                            <small *ngIf='formularioParaCrear.get("peso").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Altura (cm)"  formControlName='altura' [class.bordeError]='formularioParaCrear.get("altura").errors && formularioParaCrear.get("altura").touched' >
                        <div *ngIf="formularioParaCrear.get('altura').errors && formularioParaCrear.get('altura').touched" >
                            <small *ngIf='formularioParaCrear.get("altura").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Volumen (cc)" formControlName='volumen' [class.bordeError]='formularioParaCrear.get("volumen").errors && formularioParaCrear.get("volumen").touched'  >
                        <div *ngIf="formularioParaCrear.get('volumen').errors && formularioParaCrear.get('volumen').touched" >
                            <small *ngIf='formularioParaCrear.get("volumen").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col-sm-6">
                        <input type="number" class="form-control" placeholder="Latitud" formControlName='Latitud'  [class.bordeError]='formularioParaCrear.get("Latitud").errors && formularioParaCrear.get("Latitud").touched' >
                        <div *ngIf="formularioParaCrear.get('Latitud').errors && formularioParaCrear.get('Latitud').touched  " >
                          <small *ngIf="formularioParaCrear.get('Latitud').hasError('required')" >El campo es requerido</small>
                          <small *ngIf="formularioParaCrear.get('Latitud').hasError('min')" >La coordenada no es valida</small>
                          <small *ngIf="formularioParaCrear.get('Latitud').hasError('max')" >La coordenada no es valida</small>
                       </div>
                    </div>
                    <div class="col-sm-6">
                      <input type="number" class="form-control" placeholder="Longitud" formControlName='Longitud' [class.bordeError]='formularioParaCrear.get("Longitud").errors && formularioParaCrear.get("Longitud").touched' >
                      <div *ngIf="formularioParaCrear.get('Longitud').errors && formularioParaCrear.get('Longitud').touched " >
                        <small *ngIf="formularioParaCrear.get('Longitud').hasError('required')" >El campo es requerido</small>
                        <small *ngIf="formularioParaCrear.get('Longitud').hasError('min')" >La coordenada no es valida</small>
                        <small *ngIf="formularioParaCrear.get('Longitud').hasError('max')" >La coordenada no es valida</small>
                     </div>
                  </div>
                </div>
                <div class="form-row mt-2">
                    <textarea class='form-control' cols="10" rows="3" placeholder="Descripción" formControlName='descripcion' [class.bordeError]='formularioParaCrear.get("descripcion").errors && formularioParaCrear.get("descripcion").touched' ></textarea>
                    <div *ngIf="formularioParaCrear.get('descripcion').errors && formularioParaCrear.get('descripcion').touched" >
                        <small *ngIf='formularioParaCrear.get("descripcion").hasError("required")' >El campo es requerido</small>
                      </div>
                </div>
                <div class='form-row mt-2'>
                    <label for="Imagen">Selecciona la imagen del producto</label>
                    <input type="file" class="form-control-file" id="Imagen" formControlName='imagenUrl' (change)="editarImagenProducto($event)">
                  </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss='modal' [disabled]='formularioParaCrear.invalid' (click)='crearArticulo()' >Crear</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Modal de descripcion -->

  <div class="modal fade" id="ModalDeDescripcion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary">
          <h5 class="modal-title" id="exampleModalLabel"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div *ngFor="let item of descripcionDeVenta"  >
            <div class="container">
              <div class="row">
                <div class="col">
                  <h1>
                    Detalles
                  </h1>
                </div>
              </div>
                <div class="row">
                    <div class="col-sm-7">
                        <h3>
                            {{item.titulo}}
                        </h3>
                    </div>
                    <div class="col-sm-5">
                        <img src={{item.imagenUrl}} class="img-rounded border" alt="Cinque Terre" width="150" height="100">
                    </div>
                </div>
                <div class="row mt-2 pr-3">
                    <h4>
                        Caracteristicas
                    </h4>
                </div>
                <div class="row mt-2">
                    <div class="col-sm-3">
                        <h6>
                            Peso: {{item.peso}} Kg
                        </h6>
                    </div>
                    <div class="col-sm-4">
                        <h6>
                            Altura: {{item.altura}} Cm
                        </h6>
                    </div>
                    <div class="col-sm-5">
                        <h6>
                            Volumen: {{item.volumen}} CC
                        </h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="text-justify">
                            {{item.descripcion}} 
                        </p>
                    </div>
                </div>
                <div class="row">
                    <img src="https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/pin-s+EA1212({{item.Longitud}},{{item.Latitud}})/{{item.Longitud}},{{item.Latitud}},6/470x200?access_token=pk.eyJ1IjoiZ29uemFsZXpydWphbm8iLCJhIjoiY2tmaWQ5ZnliMDdpNzJxcGo5NnVrOHF6MiJ9.lBjiIF7t3aBrD7oO8PRUuQ">
                </div>
                <div class="row mt-2">
                    <div class="col">
                        <h1>
                          Total:  {{item.precio}} $
                        </h1>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)='eliminarArticulo(descripcionDeVenta[0].id)' data-dismiss="modal"> Eliminar </button>
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ModalDeEditar" data-dismiss="modal" (click)='botonEditar()' > Editar </button>
        </div>
      </div>
    </div>
  </div>





  <!--modal de agregar articulo-->
  <div class="modal fade" id="ModalDeEditar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header bg-primary text-light">
          <h5 class="modal-title" id="exampleModalLabel">Editar articulo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]='formularioParaEditar' >
              <div class="form-row" >
                  <div class="col-sm-8">
                      <input type="text" class="form-control" placeholder="Titulo"  formControlName='titulo' [class.bordeError]='formularioParaEditar.get("titulo").errors && formularioParaEditar.get("titulo").touched' >
                      <div *ngIf="formularioParaEditar.get('titulo').errors && formularioParaEditar.get('titulo').touched" >
                          <small *ngIf='formularioParaEditar.get("titulo").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                  <div class="col-sm-4">
                      <input type="number" class="form-control" placeholder="Precio $" formControlName='precio' [class.bordeError]='formularioParaEditar.get("precio").errors && formularioParaEditar.get("precio").touched' >
                      <div *ngIf="formularioParaEditar.get('precio').errors && formularioParaEditar.get('precio').touched" >
                          <small *ngIf='formularioParaEditar.get("precio").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
              </div>
                <div class="form-row mt-2">
                    <h6>Caracteristicas</h6>
                </div>
                <div class="form-row mt-1">
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Peso (kg)" formControlName='peso' [class.bordeError]='formularioParaEditar.get("peso").errors && formularioParaEditar.get("peso").touched'  >
                        <div *ngIf="formularioParaEditar.get('peso').errors && formularioParaEditar.get('peso').touched" >
                            <small *ngIf='formularioParaEditar.get("peso").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Altura (cm)"  formControlName='altura' [class.bordeError]='formularioParaEditar.get("altura").errors && formularioParaEditar.get("altura").touched' >
                        <div *ngIf="formularioParaEditar.get('altura').errors && formularioParaEditar.get('altura').touched" >
                            <small *ngIf='formularioParaEditar.get("altura").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <input type="number" class="form-control" placeholder="Volumen (cc)" formControlName='volumen' [class.bordeError]='formularioParaEditar.get("volumen").errors && formularioParaEditar.get("volumen").touched'  >
                        <div *ngIf="formularioParaEditar.get('volumen').errors && formularioParaEditar.get('volumen').touched" >
                            <small *ngIf='formularioParaEditar.get("volumen").hasError("required")' >El campo es requerido</small>
                        </div>
                    </div>
                </div>
                <div class="form-row mt-2">
                     <div class="col-sm-6">
                       <input type="number" class="form-control" placeholder="Latitud" formControlName='Latitud' >
                       <div *ngIf="formularioParaEditar.get('Latitud').errors && formularioParaEditar.get('Latitud').touched  " >
                          <small *ngIf="formularioParaEditar.get('Latitud').hasError('required')" >El campo es requerido</small>
                          <small *ngIf="formularioParaEditar.get('Latitud').hasError('min')" >La coordenada no es valida</small>
                          <small *ngIf="formularioParaEditar.get('Latitud').hasError('max')" >La coordenada no es valida</small>
                       </div>
                   </div>
                   <div class="col-sm-6">
                     <input type="number" class="form-control" placeholder="Longitud" formControlName='Longitud' >
                     <div *ngIf="formularioParaEditar.get('Longitud').errors && formularioParaEditar.get('Longitud').touched " >
                        <small *ngIf="formularioParaEditar.get('Longitud').hasError('required')" >El campo es requerido</small>
                        <small *ngIf="formularioParaEditar.get('Longitud').hasError('min')" >La coordenada no es valida</small>
                        <small *ngIf="formularioParaEditar.get('Longitud').hasError('max')" >La coordenada no es valida</small>
                     </div>
                   </div>
                   </div>
                <div class="form-row mt-2">
                    <textarea class='form-control' cols="10" rows="3" placeholder="Descripción" formControlName='descripcion' [class.bordeError]='formularioParaEditar.get("descripcion").errors && formularioParaEditar.get("descripcion").touched' ></textarea>
                    <div *ngIf="formularioParaEditar.get('descripcion').errors && formularioParaEditar.get('descripcion').touched" >
                        <small *ngIf='formularioParaEditar.get("descripcion").hasError("required")' >El campo es requerido</small>
                      </div>
                </div>
                <div class='form-row mt-2'>
                    <label for="Imagen">Selecciona la imagen del producto</label>
                    <input type="file" class="form-control-file" id="Imagen" formControlName='imagenUrl' (change)="editarImagenProducto($event)">
                  </div>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" data-dismiss='modal' (click)='editarArticulo()' [disabled]='formularioParaEditar.invalid' >Editar</button>
        </div>
      </div>
    </div>
  </div>